<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>B.jishnu project</title>
  <meta name="description" content>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon/Biblio.jpeg">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/price_rangs.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <%- include('./partials/header') %>
  <main>

    <div class="services-area2">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-12">

                <div class="single-services d-flex align-items-center mb-0">

                  <div class="features-img">

                    <img src="<%= bookpage.Image[0].slice('./public'.length) %>" alt> 

                  </div>
                  <div class="features-caption">
                    <h3>
                      <%= bookpage.bookname%><small style="font-size: small;"> (<%= bookpage.binding%>) | Release Date:
                            <%= bookpage.publicationdate.toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                              day: 'numeric' }) %></small>
                    </h3>
                    <p>By: <%= bookpage.author%> (Author) | Publisher: <%= bookpage.publisher%>
                    </p>
                    <div class="price">
                      <span>₹<%= bookpage.price%>

                      </span>
                    </div>

                    <p> <strong>About Book:</strong>
                      <%= bookpage.bookoverview%>
                    </p>
                    <!-- <div class="review">
<div class="rating">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star-half-alt"></i> 
</div>

<p>(120 Review)</p>
</div> -->       



<div style="display: flex; align-items: center;">

<!-- Assuming you have productId and cart available in your template -->
<form id="addToCartForm" action="/user/books/bookInfo/<%= bookpage.id %>" method="post" style="margin-right: 10px;">


  <% if (inCart) { %>
      <a  class="white-btn" href="/user/userviewcart">View Cart</a>
  <% } else { %>
      <button class="white-btn" type="submit" >Add to Cart</button>
  <% } %>
</form>



  <form action="/user/wishlist/add-to-wishlist/<%= bookpage.id %>" method="post">  
    <a style="width: 10px;" class="genric-btn primary-rounded-circle small "> <i style="font-size: 30px;"  class="fas fa-heart"></i> </a>
    
  </form> 
</div>







            
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <section class="our-client section-padding best-selling">
      <div class="container">
        <div class="row">
          <div class="offset-xl-1 col-xl-10">
            <div class="nav-button f-left">

              <nav>
                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                  <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab"
                    aria-controls="nav-one" aria-selected="true">Description</a>
                  <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab"
                    aria-controls="nav-two" aria-selected="false">Author</a>
                
                  <!-- <a class="nav-link" id="nav-four-tab" data-bs-toggle="tab" href="#nav-four" role="tab"
                    aria-controls="nav-four" aria-selected="false">Review</a> -->
                </div>
              </nav>

            </div>
          </div>
        </div>
      </div>
      <div class="container">

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

            <div class="row">
              <div class="offset-xl-1 col-lg-9">
                <h5>Book Details</h5>
                <p><b>ISBN:</b>
                  <%= bookpage.ISBN%>
                </p>
                <p><b>Publisher:</b>
                  <%= bookpage.publisher%>
                </p>
                <p><b>Release date:</b>
                  <%= bookpage.publicationdate.toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                    day: 'numeric' }) %>
                </p>
                <p><b>Language:</b>
                  <%= bookpage.language%>
                </p>
                <p><b>Binding:</b>
                  <%= bookpage.binding%>
                </p>
                <p><b>Binding:</b>
                  <%= bookpage.pages%>
                </p>

                <p><b>Genre:</b>
                  <%= bookpage.genrename%>
                </p>
                <p><b>Author:</b>
                  <%= bookpage.author%>
                </p>
                <p><b>Qantity:</b>
                  <%= bookpage.quantity%>
                </p>
                <p><b>Status:</b>
                  <%= bookpage.status%>
                </p>



              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">

            <div class="row">
              <div class="offset-xl-1 col-lg-9">
                <h2>
                  <%= bookpage.author%>
                </h2>
                <p>
                  <%= bookpage.aboutauthor%>
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">

            <div class="row">
              <div class="offset-xl-1 col-lg-9">
                <p>Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of
                  all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left
                  Kendrick School in Reading at the age of 15, where she went to secretarial school and then into an
                  insurance office. After moving to London and then Hampton, she eventually married her next door
                  neighbour from Reading, John Cook. He was an officer in the Merchant Navy and after he left the sea in
                  1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company.
                  Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided
                  that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her
                  birthday and it was with this that she produced her first significant work, a half-length portrait of
                  a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’
                  by Beryl’s husband and</p>
                <p>It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are
                  seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for
                  one. Divorce and the death of spouses or grown children leaving for college are all reasons that
                  someone accustomed to cooking for more than one would suddenly need to learn how to adjust all the
                  cooking practices utilized before into a streamlined plan of cooking that is more efficient for one
                  person creating less.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-four" role="tabpanel" aria-labelledby="nav-four-tab">

            <div class="row">
              <div class="offset-xl-1 col-lg-9">
                <p>Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of
                  all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left
                  Kendrick School in Reading at the age of 15, where she went to secretarial school and then into an
                  insurance office. After moving to London and then Hampton, she eventually married her next door
                  neighbour from Reading, John Cook. He was an officer in the Merchant Navy and after he left the sea in
                  1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company.
                  Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided
                  that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her
                  birthday and it was with this that she produced her first significant work, a half-length portrait of
                  a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’
                  by Beryl’s husband and</p>
                <p>It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are
                  seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for
                  one. Divorce and the death of spouses or grown children leaving for college are all reasons that
                  someone accustomed to cooking for more than one would suddenly need to learn how to adjust all the
                  cooking practices utilized before into a streamlined plan of cooking that is more efficient for one
                  person creating less.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-five" role="tabpanel" aria-labelledby="nav-five-tab">

            <div class="row">
              <div class="offset-xl-1 col-lg-9">
                <p>Beryl Cook is one of Britain’s most talented and amusing artists .Beryl’s pictures feature women of
                  all shapes and sizes enjoying themselves .Born between the two world wars, Beryl Cook eventually left
                  Kendrick School in Reading at the age of 15, where she went to secretarial school and then into an
                  insurance office. After moving to London and then Hampton, she eventually married her next door
                  neighbour from Reading, John Cook. He was an officer in the Merchant Navy and after he left the sea in
                  1956, they bought a pub for a year before John took a job in Southern Rhodesia with a motor company.
                  Beryl bought their young son a box of watercolours, and when showing him how to use it, she decided
                  that she herself quite enjoyed painting. John subsequently bought her a child’s painting set for her
                  birthday and it was with this that she produced her first significant work, a half-length portrait of
                  a dark-skinned lady with a vacant expression and large drooping breasts. It was aptly named ‘Hangover’
                  by Beryl’s husband and</p>
                <p>It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are
                  seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for
                  one. Divorce and the death of spouses or grown children leaving for college are all reasons that
                  someone accustomed to cooking for more than one would suddenly need to learn how to adjust all the
                  cooking practices utilized before into a streamlined plan of cooking that is more efficient for one
                  person creating less.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="subscribe-area">
      <div class="container">
        <div class="subscribe-caption text-center  subscribe-padding section-img2-bg"
          data-background="assets/img/gallery/section-bg1.jpg">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-9">
              <h3>Join Newsletter</h3>
              <p>Lorem started its journey with cast iron (CI) products in 1980. The initial main objective was to
                ensure pure water and affordable irrigation.</p>
              <!-- <form action="#">
                <input type="text" placeholder="Enter your email">
                <button class="subscribe-btn">Subscribe</button>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <footer>
    <div class="footer-wrappper section-bg">
      <div class="footer-area footer-padding">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-xl-3 col-lg-5 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">

                  <div class="footer-logo mb-25">
                    <a href="index.html"><img src="" alt></a>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera">
                      <p>Get the breathing space now, and we’ll extend your term at the other end year for go.</p>
                    </div>
                  </div>

                  <div class="footer-social">
                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Book Category</h4>
                  <ul>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Horror - Thriller</a></li>
                    <li><a href="#">Love Stories</a></li>
                    <li><a href="#">Science Fiction</a></li>
                    <li><a href="#">Business</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>&nbsp;</h4>
                  <ul>
                    <li><a href="#">Biography</a></li>
                    <li><a href="#">Astrology</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                    <li><a href="#">Software Development</a></li>
                    <li><a href="#">Ecommerce</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Site Map</h4>
                  <ul class="mb-20">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom-area">
        <div class="container">
          <div class="footer-border">
            <div class="row d-flex align-items-center">
              <div class="col-xl-12 ">
                <div class="footer-copy-right text-center">
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                  with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    style="color: black" target="_blank" rel="nofollow noopener">Colorlib</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>


  <script>
    function addToCart() {
        const form = document.getElementById('addToCartForm');
    
        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ /* any additional data you want to send in the request body */ }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Item added to cart:', data);
           
        })
        .catch(error => {
            console.error('Error adding item to cart:', error);
          
        });
    }
    </script>


  <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/jquery.slicknav.min.js"></script>

  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.js"></script>
  <script src="/assets/js/jquery.nice-select.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/price_rangs.js"></script>

  <script src="/assets/js/contact.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/mail-script.js"></script>
  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
    integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
    data-cf-beacon='{"rayId":"82f17e7a7ce42e88","b":1,"version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
    crossorigin="anonymous"></script>
</body>

</html>