<!DOCTYPE html>
<html lang="en">
   
<head>
    <title>Shoping Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-Bb9X+gF8z4I5SxwBIxCv/6VcPiQ/FvFxFvfJQQ6pY3c2ZuVqgS6NXqXDtUgJvnM10s2hoNN+NnsrHswX0DqJFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="icon" type="image/png" href="/cartasset/images/icons/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha384-GLhlTQ8iSi1+eaqFKyjB1tJXX9Y3T1bI476QDI2estw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/fonts/linearicons-v1.0.0/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/cartasset/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="/cartasset/vendor/perfect-scrollbar/perfect-scrollbar.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon/Biblio.jpeg">
  <link rel="stylesheet" href="path/to/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/price_rangs.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/my.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-6pY+3lvPRusGDY0KCl4F6A5CBrn9CtpxwQxBsK53xy0zK9P6gP2za0MqBEpbJsk+Og+HA5Ig/KGTV56d1o4FeQ==" crossorigin="anonymous" />


    <link rel="stylesheet" type="text/css" href="/cartasset/css/util.css">
    <link rel="stylesheet" type="text/css" href="/cartasset/css/main.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iK7l5lOp+Jz8LEH73LG9CBIiA6jG/3eN9xu/6ZlWOJT5MzP5UVTB0K1r" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css"
        integrity="sha384-3qQfQ3TzVt8N/tVn6s587Lxn4nOuKg6p1a+KPEZ18N5trX9Z4M2a50j5pIaMI2t" crossorigin="anonymous">

</head>

<body class="animsition">

    <%- include('./partials/header') %>

    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>
        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                <span class="mtext-103 cl2">
                    Your Cart
                </span>
                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>
            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="/cartasset/images/item-cart-01.jpg" alt="IMG">
                        </div>
                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                White Shirt Pleat
                            </a>
                            <span class="header-cart-item-info">
                                1 x $19.00
                            </span>
                        </div>
                    </li>
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="/cartasset/images/item-cart-02.jpg" alt="IMG">
                        </div>
                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                Converse All Star
                            </a>
                            <span class="header-cart-item-info">
                                1 x $39.00
                            </span>
                        </div>
                    </li>
                    <li class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="/cartasset/images/item-cart-03.jpg" alt="IMG">
                        </div>
                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                Nixon Porter Leather
                            </a>
                            <span class="header-cart-item-info">
                                1 x $17.00
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: $75.00
                    </div>
                    <div class="header-cart-buttons flex-w w-full">
                        <a href="shoping-cart.html"
                            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            View Cart
                        </a>
                        <a href="shoping-cart.html"
                            class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                            Check Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                <a href="/userhomepage" class="stext-109 cl8 hov-cl1 trans-04">
                    Home
                    <i class="">→</i>
                </a>
                <span class="stext-109 cl4">
                    Shoping Cart
                </span>
            </div>
        </div>
    
        <form class="bg0 p-t-75 p-b-85">
            <div class="container">
                <% if (cart && cart.items && cart.items.length> 0) { %>
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                            <div class="m-l-25 m-r--38 m-lr-0-xl">
                                <div class="wrap-table-shopping-cart">
                                    <table class="table table-shopping-cart">
                                        <thead>
                                            <tr class="table_head">
                                                <th class="column-1">Product</th>
                                                <th class="column-2"></th>
                                                <th class="column-3">Price</th>
                                                <th class="column-4">Quantity</th>
                                                <th class="column-5">Total</th>
                                                <th class="column-6">Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cart.items.forEach(book => { %>
                                                <tr class="table_row">
                                                    <td class="column-1">
                                                        <div class="how-itemcart1">
                                                            <img src="<%= book.productId.Image[0].slice('./public'.length) %>" alt="IMG" class="img-fluid">
                                                        </div>
                                                    </td>
                                                    <td class="column-2">
                                                        <%= book.productId.bookname %>
                                                    </td>
                                                    <td class="column-3">₹ <%= book.productId.
                                                        discountPrice %></td>
                                                    <td class="column-4">
                                                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m quantity-decrement"
                                                                data-book-id="<%=book.productId._id%>">-</div>
                                                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1"
                                                                value="<%= book.quantity %>" data-book-id="<%=book.productId._id%>"
                                                                data-price="<%= book.productId.
                                                                discountPrice %>" data-total-quantity="<%= book.productId.quantity %>"
                                                                max="<%= book.productId.quantity %>">
                                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m quantity-increment"
                                                                data-book-id="<%=book.productId._id%>" data-max-quantity="<%= book.productId.quantity %>">+
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="column-5 mr-3">
                                                        <span id="total-price-<%= book.productId._id %>">
                                                            <%= book.productId.
                                                            discountPrice * book.quantity %>
                                                        </span>
                                                    </td>
                                                    <td class="column-6">
                                                        <% if (book.productId.quantity > 0) { %>
                                                            <span class="text-success">In-Stock</span>
                                                        <% } else { %>
                                                            <span class="text-danger">Out-of-stock</span>
                                                        <% } %>
                                                    </td>
                                                    <td class="column-2">
                                             <a href="/removecart/<%= book.id%>"> <img style="width: 25px;" src="/cartasset/images/icons/delete.png" alt=""></a>
                                                    </td>
                                                 
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                    
                                </div>
    
                            </div>
                        </div>
                        
                        <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                            <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                                <h4 class="mtext-109 cl2 p-b-30">
                                    Cart Summary
                                </h4>
                                <div class="flex-w flex-t bor12 p-b-13">
                                    <div class="size-208">
                                        <span style="font-weight: 600;" class="stext-110 cl2 ">
                                            Total:
                                        </span>
                                    </div>
                                    <div class="size-209">
                                        <!-- Display the total sum inside the span -->
                                        <span style="font-weight: 800;" class="mtext-110 cl2" id="subtotal-price-"></span>
    
    
    
                                        <span style="font-weight: 800;" class="mtext-110 cl2" id="total-sum-result"></span>
                                    </div>
                                 
                                </div>
                                <div class="mt-3" style="text-align: center;">
                                    <!-- <button id="checkOutBtn" onclick="checkAndUpdateLink()"> -->
                                        <a href="/userPayment" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                            Proceed to Checkout
                                        </a>
                                    <!-- </button> -->
                                
                                    <hr>
                                
                                    <a href="/userhomepage" class="flex-c-m stext-101 cl0 size-116 bg2 bor14 hov-btn3 p-lr-15 trans-04 pointer text-dark">
                                        Back to Shopping
                                    </a>
                                </div>
                        </div>
                      
                    </div>
                    <% }else { %>
               
                        <h3 class="text-center text-muted">Your Cart is empty</h3>
                        <% } %>
            </div>
        </form>
    </main>

    <footer>
        <div class="footer-wrappper section-bg bg-dark t">
          <div class="footer-area footer-padding">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-5 col-md-4 col-sm-6">
                  <div class="single-footer-caption mb-50">
                    <div class="single-footer-caption mb-30">
  
                      <div class="footer-logo mb-25">
                        <a href="index.html"><img style="width: 200px;" src="/assets/img/logo/biblio.jpg" alt></a>
                      </div>
                      <div class="footer-tittle ">
                        <div class="footer-pera ">
                          <p class="text-light">Get the breathing space now, and we’ll extend your term at the other end
                            year for go.</p>
                        </div>
                      </div>
  
                      <div class="footer-social">
                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                  <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                      <h4 class="text-light">Book Category</h4>
                      <ul>
                        <li><a class="text-light" href="#">History</a></li>
                        <li><a class="text-light" href="#">Horror - Thriller</a></li>
                        <li><a class="text-light" href="#">Love Stories</a></li>
                        <li><a class="text-light" href="#">Science Fiction</a></li>
                        <li><a class="text-light" href="#">Business</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                  <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                      <h4 class="text-light">&nbsp;</h4>
                      <ul>
                        <li><a class="text-light" href="#">Biography</a></li>
                        <li><a class="text-light" href="#">Astrology</a></li>
                        <li><a class="text-light" href="#">Digital Marketing</a></li>
                        <li><a class="text-light" href="#">Software Development</a></li>
                        <li><a class="text-light" href="#">Ecommerce</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                  <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                      <h4 class="text-light">Site Map</h4>
                      <ul class="mb-20">
                        <li><a class="text-light" href="#">Home</a></li>
                        <li><a class="text-light" href="#">About Us</a></li>
                        <li><a class="text-light" href="#">FAQs</a></li>
                        <li><a class="text-light" href="#">Blog</a></li>
                        <li><a class="text-light" href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="footer-bottom-area">
            <div class="container">
              <div class="footer-border">
                <div class="row d-flex align-items-center">
                  <div class="col-xl-12 ">
                    <div class="footer-copy-right text-center">
                      Copyright &copy;
                      <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                      made
                      with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        style="color: black" target="_blank" rel="nofollow noopener">Colorlib</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>


    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <!-- Add this script tag to include jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

<!-- <script>
    window.onload = function () {
        // Call the function when the page loads
        checkAndUpdateLink();
    };

    function checkAndUpdateLink() {
        fetch(`/check`, {})
            .then(response => response.json())
            .then(data => {
                let checkStatus=data.status
                console.log('Quantity updated successfully:', checkStatus);
                if (data.status) {
                document.getElementById('checkOutBtn').style.display = "none";
            }else{
                document.getElementById('checkOutBtn').style.display = "block";

            }
            })
            .catch(error => console.error('Error updating quantity:', error));
    }
</script> -->












    <script>

        
          
        document.addEventListener('DOMContentLoaded', function () {
      

            check()
            function check(){
                fetch(`/check`, {
                  
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Quantity updated successfully:', data);
                    })
                    .catch(error => console.error('Error updating quantity:', error));
            
            }
           
          
            updateTotalSum()
            const quantityButtons = document.querySelectorAll('.quantity-decrement, .quantity-increment');
    
            quantityButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const input = this.parentElement.querySelector('.num-product');
                    const bookId = input.dataset.bookId;
                    const price = parseFloat(input.dataset.price);
                    const maxQuantity = parseInt(input.getAttribute('max'))
    
                    let currentValue = parseInt(input.value -1) || 0;
                    const direction = this.classList.contains('quantity-increment') ? 1 : -1;
                    const newValue = Math.min(Math.max(1, currentValue + direction), maxQuantity);
    
                    // Update UI
                    input.value = newValue;
                    updateTotalPrice(bookId, price, newValue);
    
                    // Update quantity in cart data
                    updateCartQuantity(bookId, newValue);
                    // Note: You can add your own logic here to update the cart data on the server
    
                    // Update total sum dynamically without Ajax
                    updateTotalSum();
                });
            });
    
            function updateTotalPrice(bookId, price, quantity) {
             

                const totalPriceElement = document.getElementById(`total-price-${bookId}`);
    
                if (totalPriceElement) {
                    const newTotalPrice = price * quantity;
                    totalPriceElement.textContent = `₹ ${newTotalPrice.toFixed(2)}`;
                }
            }


            function updateCartQuantity(bookId, quantity) {
                
             

                fetch(`/updateQuantity/${bookId}/${quantity}`, {
                    method: 'PUT', 
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Quantity updated successfully:', data);
                    })
                    .catch(error => console.error('Error updating quantity:', error));
            }
    
            function updateTotalSum() {
              

                // Calculate total sum without making an Ajax request
                const totalSumElement = document.getElementById('total-sum-result');
                const totalPriceElements = document.querySelectorAll('[id^="total-price-"]');
    
                let totalSum = 0;
    
                totalPriceElements.forEach(element => {
                    totalSum += parseFloat(element.textContent.replace('₹', ''));
                });
    
                if (totalSumElement) {
                    totalSumElement.textContent = `₹ ${totalSum.toFixed(2)}`;
                 
                } 
            }
        });
    </script>
    











    <script src="/cartasset/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="/cartasset/vendor/animsition/js/animsition.min.js"></script>

    <script src="/cartasset/vendor/bootstrap/js/popper.js"></script>
    <script src="/cartasset/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/cartasset/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>

    <script src="/cartasset/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

    <script src="/cartasset/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>

    <script src="/cartasset/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"837e33517eef6ba2","b":1,"version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
        crossorigin="anonymous"></script>
</body>

</html>