<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> userhome</title>

<style>
.address-box {
  
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.address-box h3 {
    margin-top: 0;
}

.address-box p {
    margin: 5px 0;
}

.hidden {
    display: none;
}

.address-details {
    display: flex;
    justify-content: space-between;
}

.address-details div {
    flex: 1;
    margin-right: 20px; /* Adjust spacing between address sections */
}


</style>

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/sidebar/css/style.css">
  <link href="/assetsss/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/assetsss/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/newAssetUser/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="/userorder/style.css" rel="stylesheet">

  <link href="/newAssetUser/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/price_rangs.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/newstyle.css">

</head>

<body>

  <%- include('./partials/header') %>

    <main>


      <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
          <div class="custom-menu">
            <button style="width: 50px;" type="button " id="sidebarCollapse" class="text-danger bg-light">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
          </div>
          <h1 class="text-center my-auto "><a href="/userprofile" class="text-light text-center mt-3">Account</a></h1>

          <hr>
          <ul class="list-unstyle components mb-5">
            <li class="">
              <a href="/userprofile" style="font-size: smaller;"><span class="fa fa-user mr-3"></span> Personal
                Details</a>
            </li>
            <li>
              <a href="/user-myOrders" style="font-size: smaller;"><span class="fa fa-shopping-bag mr-3"></span> My
                Orders</a>
            </li>
            <li>
              <a href="#" style="font-size: smaller;"><span class="fa fa-heart mr-3"></span> My Wishlist</a>
            </li>
            <li>
              <a href="/userviewcart" style="font-size: smaller;"><span class="fa fa-shopping-cart  mr-3"></span> My
                Cart</a>
            </li>
            <li>
              <a href="/userChangePassword" style="font-size: smaller;"><span class="fa fa-key mr-3"></span>
                Password</a>
            </li>
            <li>
              <a href="/useraddress" style="font-size: smaller;"><span class="fa fa-address-book mr-3"></span> My
                Address</a>
            </li>
          </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">


          <section>

            <h2 class="display-8 text-center mb-5 text-muted" style="font-family: Arial, sans-serif; font-weight: 600;">
              My Orders</h2>


            <div>
              <% if (orders && orders.length> 0) { %>
                <% orders.forEach(order=> { %>
                  <div class="container">

                    <div class="order-history">
                      <div class="order-details">

                        <span class="order-date">Order Date: <%= order.orderDate.toLocaleString('en-US', {
                            timeZone: 'UTC' }) %>
                        </span>
                        <span class="order-number">Order Id: <%= order._id %></span>
                        <% if(order.status==='Cancelled' ){ %>
                          <span class="order-status text-danger">Status:<%= order.status%></span> <br>
                       <% }else{%>
                        <span class="order-status text-success">Status:<%= order.status%></span> <br>
                      <% } %>
                      <span class="order-status text-primary">Payment:<%= order.paymentMethod%></span> <br>

                      <form action="<%= order.status === 'Delivered' ? '/orders/return-order/' : '/orders/cancel-order/' %><%= order.id %>" method="post">
                        <% if(order.status === 'Cancelled'){ %>
                            <img style="width: 50px;" src="/assets/img/icon/cancelled.png" alt="">
                        <% } else if(order.status === 'Delivered'){ %>
                            <button type="submit" class="genric-btn danger radius">Return Order</button>
                     
                    
                         
                        <% }else if(order.status === 'Returned') { %>
                       <p class="text-success">Order Returned</p>
                        <% }else { %>
                            <button data-toggle="modal" data-target="#cancelModal"  id="cancelButton" type="submit" class="genric-btn danger radius">Cancel Order</button>
                            <!-- <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="cancelModalLabel">Cancel Order</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <form >
                                              <div class="form-group">
                                                  <label for="reason">Reason for Canceling:</label>
                                                  <input class="form-control" type="text" id="reason" name="reason" rows="4" required>
                                              
                                              </div>
                                              <button type="submit" class="btn btn-danger">Submit</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div> -->
                        <% } %>
                      
                    </form>
                    


                     
                      </div>
                      <% order.items.forEach(item=> { %>
                        <div class="product-details">
                          <div>
                            <img style="width: 50px;" src="<%= item.productId.Image[0].slice('./public'.length) %>"
                            alt="img">
                            <span class="product-name ml-2">
                              <%= item.productId.bookname %>
                            </span>
                           
                            <br>
                                   
                    
                          </div>

                
                          <hr>
                        </div>
                   
                   
                      <hr>
                     <span style="font-weight: 500;">  Order Address :</span>
                          <div class="address-details">
                              <div>
                                  <p><strong>Name:</strong> jishnu Anil</p>
                                  <p><strong>Phone:</strong> 48454848</p>
                                  <p><strong>Street Address:</strong> Thevassery(H), Kurumassery P.O, Ernakulam (Dist)</p>
                              </div>

                              <div>
                                <p><strong>Email:</strong> user@gmail.com</p>
                                <p><strong>Landmark:</strong> Near market</p>
                                 
                                <p><strong>City:</strong> Kochi</p>
                              
                              </div>
                              <div>
                                <p><strong>Pincode:</strong> 683579</p>
                              </div>
                          </div>
              
                    
                      
                      
                        <% }); %>
                        <% if(order.status==='Delivered'){ %>
                          <div class="d-flex justify-content-end">
                            <button class="genric-btn primary radius" onclick="invoiceData('<%= order.id %>')">Download Invoice</button>

                        </div>
                        
                        <% } %>
                        <% if(order.status!=='Cancelled'){ %>
                          <div style="font-size: small;" class="text-center text-muted ">Refund policy expire in 10 days
                          </div>

                        

                      
                            
                          <% }else{%>
                            <div style="font-size: small;" class="text-center text-muted ">
                            </div>
                         
                            <% } %>
                          <div class="total-amount">Total Amount:₹<%= order. totalAmount%>
                          </div>

                      
                        

                    </div>
                
                 

                    <% }); %>
                      <% } else { %>
                         <h4 class="text-center text-muted">You have no Orders</h4>
                        <% } %>
                  
                  </div>
                  
            </div>







          </section>


        </div>
      </div>






    </main>









    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>


    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/userLogout">Logout</a>
          </div>
        </div>
      </div>
    </div>

 <!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>


    <script src="/assetsss/js/invoice.js"></script>

    

    

    <!-- Bootstrap core JavaScript-->
    <script src="/newAssetUser/vendor/jquery/jquery.min.js"></script>
    <script src="/newAssetUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/newAssetUser/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/newAssetUser/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/newAssetUser/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/newAssetUser/js/demo/chart-area-demo.js"></script>
    <script src="/newAssetUser/js/demo/chart-pie-demo.js"></script>

    <script src="/assetsss/vendor/jquery/jquery.min.js"></script>
    <script src="/assetsss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/assetsss/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/assetsss/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/assetsss/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/assetsss/js/demo/chart-area-demo.js"></script>
    <script src="/assetsss/js/demo/chart-pie-demo.js"></script>


    <script src="/sidebar/js/jquery.min.js"></script>
    <script src="/sidebar/js/popper.js"></script>
    <script src="/sidebar/js/bootstrap.min.js"></script>
    <script src="/sidebar/js/main.js"></script>
    <!-- <script>

const toggleButton = document.getElementById('toggleAddress');
const addressBox = document.getElementById('addressBox');

toggleButton.addEventListener('click', function() {
    addressBox.classList.toggle('hidden');
    if (addressBox.classList.contains('hidden')) {
        toggleButton.textContent = 'View more details';
    } else {
        toggleButton.textContent = 'Show less';
    }
});

    </script> -->

</body>

</html>