<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> userhome</title>


  <link rel="stylesheet" href="/assets/css/my.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/sidebar/css/style.css">
  <link href="/assetsss/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/assetsss/css/sb-admin-2.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/newAssetUser/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <link href="/newAssetUser/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/price_rangs.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/newstyle.css">

</head>

<body>


  <%- include('./partials/header') %>
  


  <main>


    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button style="width: 50px;" type="button " id="sidebarCollapse" class="text-danger bg-light">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
        <h1 class="text-center my-auto "><a href="/user/userprofile" class="text-light text-center mt-3">Account</a></h1>

        <hr>
        <ul class="list-unstyle components mb-5">
          <li class="">
            <a href="/user/userprofile" style="font-size: smaller;"><span class="fa fa-user mr-3"></span> Personal
              Details</a>
          </li>
          <li>
            <a href="/user/user-myOrders" style="font-size: smaller;"><span class="fa fa-shopping-bag mr-3"></span> My Orders</a>
          </li>
          <li>
            <a href="#" style="font-size: smaller;"><span class="fa fa-heart mr-3"></span> My Wishlist</a>
          </li>
          <li>
            <a href="/user/userviewcart" style="font-size: smaller;"><span class="fa fa-shopping-cart  mr-3"></span> My Cart</a>
          </li>
          <li>
            <a href="/user/userChangePassword" style="font-size: smaller;"><span class="fa fa-key mr-3"></span> Password</a>
          </li>
          <li>
            <a href="/user/useraddress" style="font-size: smaller;"><span class="fa fa-address-book mr-3"></span> My
              Address</a>
          </li>

          <li>
            <a href="/user/userWallet" style="font-size: smaller;"><span class="fa fa-wallet mr-3"></span>My Wallet</a>
          </li>
        </ul>

      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">


        <section>

          

<!-- wallet.html -->

<div class="wallet-container">
    <h4 class="text-center">Your Wallet</h4>
  
    <div class="balance">
       <p>Balance:</p>
       <span id="walletBalance"><span>₹</span> <%= userWallet.balance%></span>
    </div>
    <h5 class="text-center mt-4">Transaction History</h5>
    <ul id="transactionHistory" class="list-group">
        <% userWallet.transactionHistory.forEach(transaction=>{ %>
<li style="font-weight: 700;" class="list-group-item"><%= transaction.transaction%> <span class="text-success ">₹ <%=  transaction.amount  %></span> <span> to your wallet</span> 
  <span class="text-danger">Order cancelled</span> <% userWallet.orders.forEach(order=>{ %>
    <span> orderId:<%= order.orderId%></span> <p style="font-weight: 400;" class="text-warning"> Order amount: <%= order.totalAmount%></p> <p style="font-weight: 600;" class="fs-3 text-primary"> Credited Date<%= order.orderDate.toLocaleString()%></p>
    <% }) %>
</li>

       <% }) %>

    </ul>
 </div>
 






        </section>


      </div>
    </div>






  </main>









  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/user/userLogout">Logout</a>
        </div>
      </div>
    </div>
  </div>



<script>



async function updateWallet() {
   try {
      const response = await fetch('/user/walletUserUpdate '); 
      const data = await response.json();

    
      const walletBalanceElement = document.getElementById('walletBalance');
      walletBalanceElement.innerText = `${data.balance.toFixed(2)}`;

   
      const transactionHistoryElement = document.getElementById('transactionHistory');
      transactionHistoryElement.innerHTML = ''; 

      data.transactionHistory.forEach(transaction => {
         const listItem = document.createElement('li');
         listItem.className = 'list-group-item';
         listItem.textContent = `${transaction.transaction}: ₹${transaction.amount.toFixed(2)}`;
         transactionHistoryElement.appendChild(listItem);
      });
   } catch (error) {
      console.error('Error updating wallet:', error);
   }
}

s
updateWallet();

</script>









  

  <!-- Bootstrap core JavaScript-->
  <script src="/newAssetUser/vendor/jquery/jquery.min.js"></script>
  <script src="/newAssetUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/newAssetUser/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/newAssetUser/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/newAssetUser/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/newAssetUser/js/demo/chart-area-demo.js"></script>
  <script src="/newAssetUser/js/demo/chart-pie-demo.js"></script>

  <script src="/assetsss/vendor/jquery/jquery.min.js"></script>
  <script src="/assetsss/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/assetsss/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/assetsss/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/assetsss/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/assetsss/js/demo/chart-area-demo.js"></script>
  <script src="/assetsss/js/demo/chart-pie-demo.js"></script>


  <script src="/sidebar/js/jquery.min.js"></script>
  <script src="/sidebar/js/popper.js"></script>
  <script src="/sidebar/js/bootstrap.min.js"></script>
  <script src="/sidebar/js/main.js"></script>

</body>

</html>